<div class="jumbotron text-center">
  <h1>{{portfolio.name}}</h1>

  <p>{{ tagline }}</p>
  <ul>
    <div align="left">
      <h4>Equities</h4>
      <li ng-repeat="stock in portfolio.stocks">
      <div>{{stock.name}} ({{stock.ticker}}) @ ${{stock.currPrice}}</div>
      <div>profit/loss: {{stock.change | number: fractionSize}} per share at {{ stock.shares }} share(s)</div>
      </li>
    </div>
    <button type="button" class="btn btn-outline-primary" ng-click="makePortfolio()">Add a new holding</button>
  </ul>
</div>
